name: End-to-end Tests
on:
  schedule:
    - cron: "0 0,6,12,18 * * *"
  workflow_dispatch:

concurrency:
  group: e2e-tests-preprod
  cancel-in-progress: true

jobs:
  run-e2e:
    runs-on: self-hosted
    env:
      NODE_EXTRA_CA_CERTS: /opt/mkcert/ca/rootCA.pem
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.0

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "25"
          cache: "pnpm"

      - name: Install Bruno CLI
        run: pnpm add -g @usebruno/cli

      - uses: Infisical/secrets-action@v1.0.9
        with:
          method: "universal"
          client-id: "${{ secrets.INFISICAL_PREPROD_CLIENT_ID }}"
          client-secret: "${{ secrets.INFISICAL_PREPROD_CLIENT_SECRET }}"
          domain: "https://infisical.laromierre.com"
          env-slug: "preprod"
          project-slug: "taskflow-backend"

      - name: Create Preprod Environment Config
        working-directory: bruno/Taskflow-backend/environments
        run: |
          cat <<EOF > preprod.bru
          vars {
            baseurl: http://${{ secrets.PREPROD_IP }}:4000
            basic_secret: ${{ env.BASIC_SECRET }}
          }
          EOF

      - name: Run E2E Tests (Bruno)
        working-directory: bruno/Taskflow-backend
        run: |
          for i in {1..3}; do
            echo "Attempt $i/3: Running E2E tests..."
            if bru run --env preprod; then
              echo "Tests passed successfully!"
              exit 0
            fi
            echo "Tests failed. Retrying in 5 seconds..."
            sleep 5
          done
          echo "All attempts failed."
          exit 1

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: always()
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL_E2E_TESTS }}
          SLACK_CHANNEL: taskflow-backend-e2e-tests
          SLACK_COLOR: ${{ job.status == 'success' && 'good' || 'danger' }}
          SLACK_ICON: https://github.com/rtCamp.png?size=48
          SLACK_MESSAGE: "E2E Tests finished with status: ${{ job.status }}"
          SLACK_TITLE: E2E Tests Status
          SLACK_USERNAME: GitHub Actions
