name: Unit Tests

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:8.2.3
        ports:
          - 27017:27017
        options: >-
          --health-cmd mongosh
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.2

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "25"
          cache: "pnpm"

      - name: Install and Test
        env:
          MONGO_URI: mongodb://localhost:27017/test
        run: |
          pnpm install
          pnpm run test:unit

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: always()
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_UNIT_TESTS_URL }}
          SLACK_CHANNEL: taskflow-backend-unit-tests
          SLACK_COLOR: ${{ job.status == 'success' && 'good' || 'danger' }}
          SLACK_ICON: https://github.com/rtCamp.png?size=48
          SLACK_MESSAGE: "Unit tests execution finished with status: ${{ job.status }}"
          SLACK_TITLE: Unit Tests Status
          SLACK_USERNAME: GitHub Actions
